* {
  box-sizing: border-box;
  max-width: 100%;
  /* border: 1px solid black; */
}

.App {
  display:flex;
  flex-flow: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: floralwhite;
}

.nav-top {
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding-bottom: 1%;
  border-bottom: 3px solid rgba(255, 68, 0, 0.5);
}

.nav-top a:hover {
  transform: scale(1.5);
  transition: 0.5s;
}

.nav-bottom {
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding-top: 1%;
  border-top: 3px solid rgba(255, 68, 0, 0.5);
}

.nav-bottom a:hover {
  transform: scale(1.5);
  transition: 0.5s;
}

a {
  color: orangered;
  font-size: 1.5rem;
}

.title-container {
  color:orangered;
  font-size: 2rem;
  width: 50%;
}
